/* Menu */
#menu{
    display: flex;
    width: 500px;
    height: auto;
    border: 1px solid transparent;
    margin-left: 800px;
    margin-top: -100px;
}

#menu nav{
    display: flex;
    width: 500px;
    height: 8vh;
    margin-left: -70px;
    margin-top: -8px;
    justify-content: space-around;
    align-items: center;
    border: 1px solid transparent;
}

#menu nav li a{
    font-size: 19px;
    margin-left: 10px;
    text-decoration: none;
    color: black;
    margin-top:5px ;
    transition: 0.3s;
}

#menu nav a:hover {
    color: #ffde59;
    opacity: 0.7;
}

.navlist{
    list-style: none;
    display: flex;
}

/*para o mobile*/
.menumobile{
    display: none;
    cursor: pointer;
}
.menumobile div{
    width: 32px;
    height: 2px;
    background: black;
    margin: 8px;
}

/* Botão diferente */
.diferente{
    width: 100px;
    height: auto;
    display: flex;
    border: 1px solid transparent;
    border-radius: 50px;
    margin-top: -40px;
    background-color: #ffde59;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
.diferentes{
    margin-top: -4px;
}
.diferente:hover{
   background-color: black;
   color: #ffde59;
}

/*para tablet*/
@media  (max-width: 980px){
    body{
        overflow-x: hidden;
    }
    #MenuCarrinho{
        margin-left:-270px ;
        margin-top: 20px;
    }
    #cartBox{
        margin-top: 150px;
    }
    .navlist{
        position: absolute;
        top: 8vh;
        margin-top:150px ;
        border-radius: 25px;
        right: 0;
        width: 40vw;
        height: 25vh;
        background:#fff ;
        box-shadow: 0 4px 12px rgba(0,0,0,0.2);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .navlist.active{
        transform: translateX(0);
    }
    .navlist li{
        opacity: 0;
    }
    .menumobile{
        margin-left: -290px;
        margin-top: 40px;
        display: block;
    }
    .menumobile.active .line1 {
        transform: rotate(-45deg) translate(-6px, 6px);
    }

    .menumobile.active .line2 {
        opacity: 0;
    }

    .menumobile.active .line3 {
        transform: rotate(45deg) translate(-6px, -6px);
    }
    @keyframes navLinkFade {
        from{
            opacity: 0;
            transform: translateX(50PX);
        }
        to{
            opacity: 1;
             transform: translateX(0);
        }
    }
}
    /*para tablet*/
@media  (max-width: 503px){
    #MenuCarrinho{
        margin-left:-420px ;
        margin-top: 20px;
    }
    #cartBox{
        margin-top: 150px;
    }

    .menumobile{
        margin-left: -290px;
        margin-top: 40px;
        display: block;
    }

}
